:host {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 900px;
    background: #000000e6;
    color: white;
    box-shadow: 0px 0px 20px #000000e6;
    animation: zoomin 0.2s;
    --color: #2e7ad6;
    --colordarker: #0e396e;
}

.yellow  {
    --color: #ffbb00;
    --colordarker: #df6b16;
}
.green  {
    --color: #3bc364;
    --colordarker: #206e38;
}
.red  {
    --color: #c33b3b;
    --colordarker: #772626;
}
.purple  {
    --color: #8f40bd;
    --colordarker: #582874;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#closeButton svg {
    filter: drop-shadow(black -3px 1px);
    height: 30px;
    fill: white;
}

@keyframes zoomin {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.col {
    width:50%;
    padding:10px 25px;
    text-align: start;
}

#headerProduction {
    background: linear-gradient(100deg, var(--colordarker), var(--color));
} 

#headerProduction h1 {
    font-family: "Halaney";
    text-shadow: black -5px 1px;
    font-size: 40px;
    margin: 0;
    padding: 15px 0 5px 0;
}

.title {
    font-family: "Halaney";
    text-align: start;
    margin: 5px 0;
    padding-left: 15px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

hr {
    border-bottom: 0;
}

.progressgroup {
    display: flex;
    margin: 15px 0;
}

.progressgroup button {
    width: 6%;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--color);
    border: 2px solid var(--color);
    border-radius: 0;
    color: white;
    cursor: pointer;
}

.progressgroup button:hover, .progressgroup input:hover {
    box-shadow: #ffffff8f 0px 0px 10px;
}

.progressbar {
    transition: all 0.5s linear;
    animation: slidein 0.5s forwards;
    width: 69%;
    height: 30px;
    background-color: #333333a1;
    border: 2px solid var(--color);
    border-radius: 0 5px 5px 0;
}

.progressquantity {
    width: 15%;
    margin: auto 0;
    text-align: right;
}

.progress {
    width: 0%;
    height: 30px;
    background-color: var(--color);
    border-radius: 0px;
}

.itemName {
    font-weight: bold;
    font-style: oblique;
}

.progressgroup input {
    text-align: center;
    width: 10%;
    background-color: #333333a1;
    border: 2px solid var(--color);
    border-radius: 5px 0 0 5px;
    color: white;
}

.progressgroup input::placeholder { text-align: center; color: #ffffff8f;}

.label {
    margin-top: -10px;
}
.label img {
    width: 30px;
    position: relative;
    top: 8px;
}