:host {
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    --color: #2e7ad6;
    --colordarker: #0e396e;
}

.yellow {
    --color: #ffbb00;
    --colordarker: #ff9900;
}
.green {
    --color: #3bc364;
    --colordarker: #206e38;
}
.red {
    --color: #c33b3b;
    --colordarker: #772626;
}
.purple {
    --color: #8f40bd;
    --colordarker: #582874;
}


#navbar{
    position: relative;
    top: -100px;
    border-top: 2px solid white;
    padding-top: 10px;
    border-radius: 7px;
}
#navbar::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 50%;
    transform: translateX(-50%);
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
}



button {
    transition: background-color 0.2s;
    position: relative;
    height: 70px;
    width: 70px;
    background: linear-gradient(-45deg, #ffffff94, var(--colordarker));
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 2px 7px;
}
button:hover {
    height: 74px;
    width: 74px;
    background: linear-gradient(-45deg, #ffffffb2, var(--color));
    border: 4px solid #ffffffb2;
    margin: 0 5px;
    svg {
        filter: drop-shadow(3px 3px 3px #00000050);
    }
}




.selected, .selected:hover {
    height: 74px;
    width: 74px;
    background: linear-gradient(-45deg, #ffffffb2, var(--colordarker));
    border: 4px solid #ffffffb2;
    margin: 0 5px;
    svg {
        filter: drop-shadow(3px 3px 3px #ffffff50);
    }
}
svg {
    height: 30px;
    fill: white;
    filter: drop-shadow(3px 3px 5px #00000020);
}
@keyframes slidein {
    0% {
        top: -100px;
        transform: scale(0.5);
        opacity: 0;
    }
    30% {
        transform: scale(0.5);
    }
    50% {
        top: 30px;
    }
    100% {
        top: 30px;
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideout {
    100% {
        top: -100px;
        transform: scale(0.5);
        opacity: 0;
    }
    70% {
        transform: scale(0.5);
    }
    50% {
        top: 30px;
    }
    0% {
        top: 30px;
        transform: scale(1);
        opacity: 1;
    }
}