<slot name="cardslot"></slot>
<h1>UNITED STATES OF AMERICA</h1>
<p id="subtitle">State of San Andreas - Identity Card</p>
<div style="display:flex;">
    <svg viewBox="0 0 448 512" width="80" style="margin-top: 10px;"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
    <div slot="diplay:flex;width:100%;">
        <p class="sb" style="margin:20px 0 5px 20px;width:280px;">NAME : <span id="cardName">Jean-Michel PASLAREF</span></p>
        <p class="sb" style="margin-left:20px;width:280px;">BIRTHDAY : <span id="cardBirthday">04/09/1993</span></p>
        <p class="sb" style="margin-left:20px;width:280px;">SEXE : <span id="cardSexe">M</span></p>
        <p class="sb" style="margin-left:20px;width:280px;">DELIVRED : <span id="cardCreatedAt">15/02/2013</span></p>
    </div>
</div>
<p class="sb" style="margin:10px 0 5px 0;">CARD ID : <span id="cardId">000493420000000</span></p>
<p class="sb">EXPIRATION DATE : <span>No Expiration</span></p>
