<div id="menuHeader" class="blue">
    <h2 class="text-white text-center" id="titleText">Titre</h2>
</div>
<div id="subTitle" class="blue">
    <p>
        <span id="subtitleText">TEXTE</span>
        <span class="text-end" id="subtitleCount">0/0</span>
    </p>
</div>      
<div id="menuContent">
    <ul id="menu-list" class="list-group">

    </ul>
</div>
<div id="oba" *ngIf="displayList.length>9">
    <p class="text-white text-center"><svg viewBox="0 0 512 512" fill="white"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg></p>       
    <p class="text-white text-center" style="top: -20px;"><svg viewBox="0 0 512 512" fill="white"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg></p>       
</div>
<div id="menuFooter">
    <p class="text-white text-end" id="footerText">Le pied</p>       
</div>
<slot></slot>
